*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: 100px auto 100px;
    grid-template-areas: 
       "header"
       "content"
       "footer"; 
}

header{
    grid-area: header;
    background-color: #9f9da0;

    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px 0 20px;
}

main{
    width: 1360px;
    grid-area: content;
    display: grid;
    align-content: center;
}
hr{
    border: none;
    border: 4px solid rgb(243, 74, 74);
}
h1{
    background-color: rgb(233, 241, 156);
    text-align: center;
}
.items{
    background-color: rgb(155, 151, 146);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: auto;
}
.item{
    width: 320px;
    height: 450px;
    font: size 20px;
    font-weight: 400;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(105, 99, 99);
    background-color: rgb(201, 192, 192)
}
.item nav ul{
    width: 280px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:last center;
    background-color: #f7eeee;
}
img{
    margin: 40px;
}
footer{
    grid-area: footer;
    background-color: rgb(233, 241, 156);
    color: black;

    display: grid;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul>li:not(:first-child) {
    padding-left: 20px;
}
nav ul>li>a {
    color: aliceblue;
}
header nav{
    grid-column: -1;
}
button{
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px;
    border: 2px solid #161515;
    background-color: rgb(236, 227, 227);
    padding: 10px 60px;
    margin-left: 20px;
}
a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: hsl(12, 100%, 52%);
  }
  
  a:visited {
    color: #437A16;
  }
  
  a:focus {
    border-bottom: 2px solid;
    background: #c6db07;
  }
  
  a:hover {
    border-bottom: 7px solid;
    background: #c7aafe;
  }
  
  a:active {
    background: #f10808;
    color: #790fdb;
  }

img{
    margin-left: 90px;
}
